body {
    font-family: 'Oswald', sans-serif;
}

#site-nav {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: transparent;
    border-bottom: solid rgba(255, 255, 255, .3);
}

#site-nav a {
    color: #ffffff;
    font-weight: 500;
}

#site-nav i {
    color: #ffffff;

}

#nav-dropdown a {
    color: black;
}

.landing-image {
    width: 100%;
    position: fixed;
    z-index: -99;
    min-height: 100%;
    background: url("../media/landing-image.jpg") no-repeat center center fixed;
    /* background-color: rgba(51, 51, 51, 0.5); */
    animation-name: landing-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes landing-image-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#landing-image-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #ffffff;
}

#cover-text {
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;
    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(116, 116, 116, 0.3);
    bottom: 10%;
    left: 10%;
    position: absolute;
}

.jumbo-info-container .jumbotron {
    background-color: #f5ebe0;
}

.jumbo-info-container button {
    background-color: #d6ccc2;
}

#carousel-container {
    background-color: #f5ebe0;
    margin: 15px;
}

#carousel-title {
    position: absolute;
    margin: 5px;
    z-index: 1;
    background-color: rgba(116, 116, 116, 0.7);
    color: #ffffff;
}

.carousel-testimony {
    background-color: rgba(116, 116, 116, 0.7);
    margin: 5px;
    padding: 5px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    max-width: 75%;
    color: #ffffff;
}

#carousel-title h3 {
    padding: 5px;
}

#carousel-item-1 {
    height: 600px;
    background: url("../media/carousel-cat1.jpg") no-repeat center center;
    background-size: cover;
}

#carousel-item-2 {
    height: 600px;
    background: url("../media/carousel-cat2.jpg") no-repeat center center;
    background-size: cover;
}

#carousel-item-3 {
    height: 600px;
    background: url("../media/carousel-cat3.jpg") no-repeat center center;
    background-size: cover;
}

footer {
    background-color: #e3d5ca;
    padding: 15px;
}

.modal-content {
    background-color: #d6ccc2;
}

.modal-content input,
.modal-content textarea,
.modal-content span {

    min-width: auto;
    margin-bottom: 5px;
}

.modal-footer .btn {
    margin: 5px;
}

.modal-footer .container-fluid input {
    float: right;
}

@media screen and (max-width: 900px) {
    #cover-text {
        bottom: 15%;
    }
}

.active {
    border-bottom: solid #ffffff;
}

.scroll-indicator {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.scroll-indicator::before {
    animation: bounce 1.5s ease infinite;
    bottom: 2rem;
    color: #fff;
    content: '╲╱';
    left: 50%;
    line-height: 4rem;
    margin-left: -3rem;
    position: absolute;
    text-align: center;
    width: 6rem;
}

@keyframes bounce {
    50% {
        transform: translateY(-50%);
    }
}

.gallery-image {
    width: 100%;
    position: fixed;
    z-index: -99;
    min-height: 100%;
    background: url("../media/gallery-background.webp") no-repeat center center fixed;
    /* background-color: rgba(51, 51, 51, 0.5); */
    animation-name: landing-image-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.gallery-item {
    background-color: #e3d5ca;
    margin: 15px auto;
    padding: 15px;
    min-height: 300px;
    min-width: 300px;
    max-height: 300px;
    max-width: 300px;
}

#gallery-01 {
    background: url("../media/gallery-01.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-02 {
    background: url("../media/gallery-02.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-03 {
    background: url("../media/gallery-03.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-04 {
    background: url("../media/gallery-04.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}
#gallery-05 {
    background: url("../media/gallery-05.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-06 {
    background: url("../media/gallery-06.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-07 {
    background: url("../media/gallery-07.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-08 {
    background: url("../media/gallery-08.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-09 {
    background: url("../media/gallery-09.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-10 {
    background: url("../media/gallery-10.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-11 {
    background: url("../media/gallery-11.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

#gallery-12 {
    background: url("../media/gallery-12.jpeg") no-repeat center center;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}